-
  var menu = {
    "home": {
      index: 0,
      title: 'Home',
      link: 'index.html'
    },

    "about": {
      index: 1,
      title: 'About Us',
      link: 'about-us.html'
    },

    "services": {
      index: 2,
      title: 'Services',
      link: 'services.html'
    },

    "cases": {
      index: 3,
      title: 'Cases',
      link: '#',
      dropdown: [
        {
          title: 'Grid gallery',
          link: 'grid-gallery.html'
        },
        {
          title: 'Masonry gallery',
          link: 'masonry-gallery.html'
        },
        {
          title: 'Cobbles gallery',
          link: 'cobbles-gallery.html'
        },
        {
          title: 'Gallery item',
          link: 'gallery-item.html'
        }
      ]
    },

    "blog": {
      index: 4,
      title: 'Blog',
      link: '#',
      dropdown: [
        {
          title: 'Classic blog',
          link: 'blog-classic.html'
        },
        {
          title: 'Grid blog',
          link: 'grid-blog.html'
        },
        {
          title: 'Blog Line',
          link: 'blog-line.html'
        },
        {
          title: 'Masonry Blog',
          link: 'masonry-blog.html'
        },
        {
          title: 'Blog post',
          link: 'blog-post.html'
        }
      ]
    },

    "pages": {
      index: 5,
      title: 'Pages',
      link: '#',
      megamenu: [
        [
          {
            title: 'Cases',
            link: '#',
            list: [
              {
                title: 'Grid gallery',
                link: 'grid-gallery.html'
              },
              {
                title: 'Masonry gallery',
                link: 'masonry-gallery.html'
              },
              {
                title: 'Cobbles gallery',
                link: 'cobbles-gallery.html'
              },
              {
                title: 'Gallery item',
                link: 'gallery-item.html'
              }
            ]
          },
          {
            title: 'Pages',
            list: [
              {
                title: 'About us',
                link: 'about-us.html'
              },
              {
                title: 'Services',
                link: 'services.html'
              },
              {
                title: 'Extras',
                link: 'extras.html'
              }
            ]
          }
        ],
        [
          {
            title: "Pages",
            list: [
              {
                title: 'Make an Appointment',
                link: 'appointment.html'
              },
              {
                title: 'Clients',
                link: 'clients.html'
              },
              {
                title: 'Clients testimonials',
                link: 'clients-testimonials.html'
              },
              {
                title: 'Our team',
                link: 'our-team.html'
              },
              {
                title: 'Team member profile',
                link: 'team-member-profile.html'
              },
              {
                title: 'Careers',
                link: 'careers.html'
              },
              {
                title: 'Pricing',
                link: 'pricing.html'
              },
              {
                title: 'FAQ',
                link: 'faq.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Extras',
            link: '#',
            list: [
              {
                title: '404',
                link: 'page-404.html'
              },
              {
                title: '503',
                link: 'page-503.html'
              },
              {
                title: 'Maintenance',
                link: 'maintenance.html'
              },
              {
                title: 'Coming soon',
                link: 'coming-soon.html'
              },
              {
                title: 'Login',
                link: 'login.html'
              },
              {
                title: 'Register',
                link: 'register.html'
              },
              {
                title: 'Search results',
                link: 'search-results.html'
              },
              {
                title: 'Terms of use',
                link: 'privacy.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Components',
            link: '#',
            list: [
              {
                title: 'Accordion',
                link: 'accordion.html'
              },
              {
                title: 'Buttons',
                link: 'buttons.html'
              },
              {
                title: 'Grid',
                link: 'grid.html'
              },
              {
                title: 'Forms',
                link: 'forms.html'
              },
              {
                title: 'Icons',
                link: 'icons.html'
              },
              {
                title: 'Icon lists',
                link: 'icon-lists.html'
              },
              {
                title: 'Progress bars',
                link: 'progress-bars.html'
              },
              {
                title: 'Tabs',
                link: 'tabs.html'
              },
              {
                title: 'Table styles',
                link: 'tables-styles.html'
              },
              {
                title: 'Typography',
                link: 'typography.html'
              }
            ]
          }
        ]
      ]
    },

    "Contacts": {
      index: 6,
      title: 'Contacts',
      link: 'contacts-us.html'
    }
  },

  globals = {
    getTemplateLink: '#',
    address: '17/11 MassiveAttack Street Bristol, United Kingdom',
    soundcloud: '<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>',
    video: '<iframe width="560" height="315" src="https://www.youtube.com/embed/KbbLpTp1rNQ"></iframe>'
  }