//- Footer base
section.page-foot
  .page-foot-inner
    .shell.text-center
      .range
        .cell-xs-12
          p.rights
            span &nbsp;&#169;&nbsp;
            span(id='copyright-year')
            span AllRisk
            a.link-primary-inverse(href='privacy.html') Privacy Policy
  .divider-primary
='\n'
