include _section-slider
//- Why Choose Us
section.section-60.section-sm-90.bg-white.bg-image.bg-image-1(style='background-image: url(images/services-1.jpg);', id='section-start-journey')
  .shell
    .range.range-md-left
      .cell-sm-preffix-4.cell-sm-8.cell-md-preffix-5.cell-md-6.cell-lg-preffix-6.cell-lg-5
        h3 Why Choose Us
        .offset-top-40
          p We're dedicated to giving you the best service possible by keeping our solutions friendly, simple and effective. If you don’t trust our word for it, just ask the people who have successfully launched their websites designed by us.
          p Our core principle is absolute transparency in everything. Come any time to check how your project is doing – our specialists will inform you about the progress.
          a.btn.btn-silver-outline(href='our-team.html') Read more
='\n'
.divider-spectrum
include _section-testimonials-vertical-dark-small
include _section-default-cta