//- AllRisk Is Exactly What You Need
section.section-60.section-sm-100.bg-primary
  .shell.text-center.text-md-left
    .range.range-md-middle.range-md-center
      .cell-md-8.cell-lg-7
        h3 Our Cooperation Can Save Your Money
      .cell-md-4.cell-lg-3.offset-top-30.offset-md-top-0
        a.btn.btn-xl.btn-white-outline(href=globals.getTemplateLink) Learn More
='\n'