header.page-head
  //- RD Navbar
  .rd-navbar-wrap
    nav.rd-navbar.rd-navbar-corporate-light(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout="rd-navbar-static", data-stick-up-clone='false', data-md-stick-up-offset="53px", data-lg-stick-up-offset="53px" data-md-stick-up="true" data-lg-stick-up="true")
      .rd-navbar-inner
        .rd-navbar-aside-wrap
          .rd-navbar-aside
            .rd-navbar-aside-toggle(data-rd-navbar-toggle='.rd-navbar-aside')
              span
            .rd-navbar-aside-content
              ul.rd-navbar-aside-group.list-units
                li
                  .unit.unit-horizontal.unit-spacing-xs.unit-middle
                    .unit-left
                      span.icon.icon-xxs.icon-cello.material-icons-phone
                    .unit-body
                      a.link-secondary(href='callto:#') +1 (232) 349–8447
                li
                  .unit.unit-horizontal.unit-spacing-xs.unit-middle
                    .unit-left
                      span.icon.icon-xxs-small.icon-cello.fa-envelope-o
                    .unit-body
                      a.link-secondary(href='mailto:#') info@demolink.org

              .rd-navbar-aside-group
                ul.list-inline.list-inline-reset
                  li: a.icon.icon-circle.icon-silver-chalice-filled.icon-xxs-smallest.fa.fa-facebook(href='#')
                  li: a.icon.icon-circle.icon-silver-chalice-filled.icon-xxs-smallest.fa.fa-twitter(href='#')
                  li: a.icon.icon-circle.icon-silver-chalice-filled.icon-xxs-smallest.fa.fa-google-plus(href='#')

          //- RD Navbar Search
          .rd-navbar-search
            form.rd-search(action="search-results.html", method="GET", data-search-live="rd-search-results-live", data-search-template=!{searchTemplate}, data-search-live-count='6')
              .rd-search-inner
                .form-group
                  label(for="rd-search-form-input" class="form-label") Search...
                  input(class="form-control" id="rd-search-form-input" type="text" name="s" autocomplete="off")
                button.rd-search-submit(type='submit')
              #rd-search-results-live.rd-search-results-live
            button.rd-navbar-search-toggle(data-rd-navbar-toggle='.rd-navbar-search, .rd-navbar-search-wrap' )

        .rd-navbar-group
          //- RD Navbar Panel
          .rd-navbar-panel
            //- RD Navbar Toggle
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
              span

            //- RD Navbar Brand
            a.rd-navbar-brand.brand(href='index.html')
              include ../_includes/_logo

          .rd-navbar-nav-wrap
            .rd-navbar-nav-inner
              .rd-navbar-btn-wrap
                a.btn.btn-smaller.btn-cello-outline(href='appointment.html') Appointment
              include ../_includes/navbar/_nav