//- Why Choose Us
section.section-60.section-sm-90.bg-white.bg-image.bg-image-1(style='background-image: url(images/services-1.jpg);')
  .shell
    .range.range-sm-right
      .cell-sm-8.cell-md-6.cell-lg-5
        h3.text-spacing--25 How Life Insurance Works
        .offset-top-40
          p Having the right life insurance is pivotal in planning for the future of you and your loved ones. Life insurance can help you fulfill promises you’ve made your family when you are gone. Don’t leave the future to chance.
          p Our Insurance professionals can help you find the right AllRisk life insurance coverage for you, and help ensure that your policy continually meets your needs.
          a.btn.btn-silver-outline(href='our-team.html') Read more
      .cell-sm-1.veil.reveal-sm-block
='\n'