//- Swiper
section
  .swiper-container.swiper-slider.swiper-variant-1(data-loop='false' data-autoplay='false', data-simulate-touch='true')
    .swiper-wrapper
      .swiper-slide(data-slide-bg='images/home-slider-1-slide-1.jpg')
        .swiper-slide-caption
          .shell
            .range.range-sm-right
              .cell-sm-8.cell-md-7
                .inset-lg-left-70
                  h2.slider-header(data-caption-animate='fadeInUp', data-caption-delay='0s')
                    span.sub-head Act Confidently  With Our Insurance Policy
                  p.text-big.slider-text.text-gray-base(data-caption-animate='fadeInUp', data-caption-delay='100') We can insure you from any kind of trouble
                  a.btn.btn-icon.btn-icon-right.btn-cello.btn-custom(data-caption-animate='fadeInUp', data-caption-delay='250', href='#',)
                    span.icon.icon-xs-smaller.fa-angle-right
                    | Get a Quote
      .swiper-slide(data-slide-bg='images/home-slider-1-slide-2.jpg')
        .swiper-slide-caption
          .shell
            .range
              .cell-sm-8.cell-md-8.cell-lg-7
                .inset-lg-left-0
                  h2.slider-header(data-caption-animate='fadeInUp', data-caption-delay='0s')
                    span.sub-head Keep your business safe with our services.
                  p.text-big.slider-text.text-gray-base(data-caption-animate='fadeInUp', data-caption-delay='100') We can insure you from any kind of trouble
                  a.btn.btn-icon.btn-icon-right.btn-cello.btn-custom(data-caption-animate='fadeInUp', data-caption-delay='250', href='#',)
                    span.icon.icon-xs-smaller.fa-angle-right
                    | Get a Quote

    .swiper-scrollbar
    //- Swiper Navigation
    .swiper-nav-wrap
      .swiper-button-prev
      .swiper-button-next

='\n'