//- Includes
include ../elements/_ui-quote-vertical

//- What Clients Say?
section.section-60.section-sm-90.section-md-bottom-120
  .shell.text-center
    .range
      .cell-xs-12
        h3 What Clients Say?
    .range.range-xs-center.range-sm-left.offset-top-40
      .cell-sm-4
        +quote-vertical({
          img: 'clients-testimonials-7-113x113.png',
          text: "The one thing I am sure about right now is that my next web startup will be developed by AllRisk.",
          cite: "Axel Merphy",
          caption: 'Freelance developer'
        })

      .cell-sm-4.offset-top-60.offset-sm-top-0
        +quote-vertical({
          img: 'clients-testimonials-8-113x113.png',
          text: "They’ve developed a large multipage website with lots of additional functions in just two weeks.",
          cite: "Amelia Lee",
          caption: 'Sales, demolink.org'
        })

      .cell-sm-4.offset-top-60.offset-sm-top-0
        +quote-vertical({
          img: 'clients-testimonials-9-113x113.png',
          text: "I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.",
          cite: "Jack McGee",
          caption: 'Founder, The Therapy'
        })

      .cell-sm-4.offset-top-60
        +quote-vertical({
          img: 'clients-testimonials-10-113x113.png',
          text: "Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.",
          cite: "John Davis",
          caption: 'Writer'
        })

      .cell-sm-4.offset-top-60
        +quote-vertical({
          img: 'clients-testimonials-11-113x113.png',
          text: "An efficient and reliable resource. They always remain flexible, cost effective, and lightning fast. Keep up the good work!",
          cite: "Jill Miller",
          caption: 'Artist'
        })

      .cell-sm-4.offset-top-60
        +quote-vertical({
          img: 'clients-testimonials-12-113x113.png',
          text: "A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add.",
          cite: "Christopher Taylor",
          caption: 'Financial Consultant'
        })
='\n'