//- Career block
mixin block-career(obj)
  li.block-image-plate.bg-gray-base.bg-image(style='background-image: url(images/' + obj.img + '.jpg);')
    .block-inner
      .block-header
        h3.text-spacing--25=obj.header
      .block-body
        .block-left
          .block-list-counter
        .block-text
          each line in obj.text
            p=line
