//- Post modern
mixin post-modern(obj)
  //- Post modern
  article.post-modern
    .post-header
      h5.text-spacing--25: a(href='blog-post.html')=obj.header
    .post-body
      each element in obj.content
        case element.type
          when "video"
            .embed-responsive.embed-responsive-16by9
              !=element.data

          when "image"
            figure
              +jpg(element.data)

          when "audio"
            .post-inset
              .soundcloud-player-classic
                !=element.data

          when "text"
            .post-inset
              each line in element.data
                p=line


    .post-footer
      .post-meta
        ul.post-list
          li.object-inline
            span.icon.icon-xxs.icon-gray-base.material-icons-query_builder
            time.text-gray-base-05(datetime=obj.time[0])=obj.time[1]

          li.object-inline
            span.icon.icon-xxs.icon-gray-base.material-icons-loyalty
            ul.list-tags-inline
              each tag in obj.tags
                li: a.link-gray-base-05(href='#')=tag

      .post-type
        span.icon.icon-xxs.icon-gray-base(class=obj.type)