//- Icon box left
mixin icon-box-left(obj)
  //- Icon box horizontal left
  article.icon-box-horizontal
    .unit.unit-horizontal.unit-spacing-md
      .unit-left
        span.icon.icon-primary(class=obj.icon)
      .unit-body
        h5.prefix-lg-right--10: a(href='#')=obj.header
        p(class='text-gray-base-05')=obj.text
  ='\n'
