//- Text placeholder
mixin text-placeholder(className)
  .inset-md-right-40.inset-lg-right-70(class=className)
    p We offer a range of products and client-focused service to meet your needs and exceed your expectations! Our team of professionals is experienced and prepared to customize your policies to fit your situation and lifestyle.