//- Post classic minimal
mixin post-classic-minimal(obj)
  //- Post classic minimal
  article.post-classic-minimal
    .post-left
      time(datetime=obj.time[0])=obj.time[1]

    .post-main
      if (typeof(obj.media) !== 'undefined')
        .post-media.post-gallery
          case obj.media.type
            when "audio"
              .soundcloud-player-classic
                !=obj.media.data

            when "video"
              .embed-responsive.embed-responsive-16by9
                !=obj.media.data

            when "gallery"
              //- Owl Carousel
              .owl-carousel.owl-style-minimal(data-items='1', data-stage-padding='0', data-loop='true', data-margin='15', data-mouse-drag="true", data-dots='true', data-animation-in='fadeIn', data-animation-out='fadeOut')
                each item in obj.media.data
                  .item
                    figure
                      +jpg(item)

            when "image"
              figure
                +jpg(obj.media.data)

      .post-header
        h4.text-spacing--25: a(href='blog-post.html')=obj.header
        each line in obj.text
          p.text-gray-base-05=line

      .post-footer
        ul.post-meta
          li: dl
            dt.text-italic.text-gray-base.text-bold in
            dd: ul.list-tags-inline
              each tag in obj.tags
                li: a.link-gray-base-05(href='#')=tag
          li: dl
            dt.text-italic.text-gray-base.text-bold by
            dd.text-gray-base-05=obj.user
