//- Icon box vertical
mixin icon-box-vertical(obj)
  //- Icon box vertical
  article.icon-box-vertical(class=obj.mod)
    .unit.unit-vertical.unit-spacing-sm
      .unit-left
        span.icon.icon-primary(class=obj.icon)
      .unit-body
        h5=obj.header
        p(class='text-gray-base-05')=obj.text
  ='\n'