extends  ../_skeleton

//- Includes
include ../elements/_ui-comment
include ../elements/_ui-post-preview

block variables
  - var activeIndex = 4
  - var pageName = 'Blog post'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  +page-title('Blog', 'bg-blog')

  //- Blog post
  section.section-60.section-sm-75.section-lg-90
    .shell
      .range
        .cell-md-8.cell-lg-9
          article.post.post-single
            .post-image
              figure
                +jpg('post-1-870x412')
            .post-header
              h4.text-spacing--25 Smart Travel

            .post-meta
              ul.list-bordered-horizontal
                li
                  dl.list-terms-inline
                    dt Date
                    dd: time(datetime='2016-01-22') January 22, 2016
                li
                  dl.list-terms-inline
                    dt Posted by
                    dd Amelia Condon
                li
                  dl.list-terms-inline
                    dt Comments
                    dd 2
                li
                  dl.list-terms-inline
                    dt Category
                    dd Travel Insurance

            .divider-fullwidth.bg-gray-light.offset-top-15

            .post-body
              p.text-gray-base Whether you’re planning a trip to the beach in Florida this summer, or headed all the way across the country, you want your vacation to be relaxing. It’s a getaway from work, not to mention your day-to-day life. So we’ve got some tips – from packing smart to protecting yourself from pickpockets – to make your trip the best it can be.

              p.text-gray-base Even if you’re only headed across the state, a packing list is a must. How many times have you left your home and arrived at your destination, only to find that you forgot your most comfortable walking shoes? Or your swimsuit? Put everything on this list, even if you think you would never forget it. A toothbrush is easy to replace when you get there – your prescription medication isn’t. David gave me my first bakery job, and I like to think Seven Stars wouldn’t be what it is without his influence over 20 years ago. Be sure that you have printed itineraries for everyone in your party, and make color copies of important ID documents as well.

              .inset-sm-right-70.inset-lg-left-50.inset-lg-right-120.offset-top-30.offset-sm-top-50
                blockquote.quote-minimal-bordered
                  p: q Not only should you post interesting content, you should try to blog at least three times a week as a business.
              p.offset-top-30.offset-sm-top-50.text-gray-base Keep the copies in your bag, separate from your passport and other IDs. It’s also a great idea for each person to have a list of emergency numbers, either for them to call or for someone else providing assistance. Of course, packing light can make travel a lot more enjoyable. Who wants to lug 100 pounds of luggage through the airport? Not us.


            .post-footer
              h5 Share this post:
              ul.list-inline.list-inline-xs
                li: a.icon.icon-xxs-small.link-tundora.fa-facebook(href='#')
                li: a.icon.icon-xxs-small.link-tundora.fa-twitter(href='#')
                li: a.icon.icon-xxs-small.link-tundora.fa-google-plus(href='#')
                li: a.icon.icon-xxs-small.link-tundora.fa-pinterest-p(href='#')

          .divider-fullwidth.bg-gray-lighter.offset-top-40

          //- Comments
          .offset-top-40
            h4 3 Comments
            .comment-list.inset-sm-right-60.inset-md-right-30.inset-lg-right-100.offset-top-30
              .comment-group
                +comment({
                  img: 'post-2-70x71',
                  user: 'July Mao',
                  text: 'The topic you describe here is really important. However, the mentioned type of training cannot be applied to anyone.'
                })

                .comment-group-reply
                  +comment({
                    img: 'post-3-70x71',
                    user: 'John doe',
                    text: 'You are absolutely right! But here, we have everything necessary to prepare even the pre - beginners to extensive physical training.'
                  })

              .comment-group
                +comment({
                  img: 'post-4-70x71',
                  user: 'Mila MOa',
                  text: 'Very useful post! Thanks for sharing! Now I’ll be planning my visit to your gym to take part in some fitness classes.'
                })

          //- Leave a comment
          .offset-top-40.offset-sm-top-60
            h4 Leave a comment
            .inset-sm-right-60.inset-md-right-30.inset-lg-right-100.offset-top-15
              //- RD Mailform
              form.rd-mailform.form-classic.form-classic-bordered.label-outside
                .form-group
                  label.form-label-outside.text-gray-base(for="comment-message") Message:
                  textarea#comment-message.form-control(name="message" data-constraints="@Required")
                .offset-top-30
                  button(type="submit" style='min-width: 200px;').btn.btn-primary Submit

        //- Aside
        .cell-md-4.cell-lg-3.offset-top-50.offset-md-top-0
          .inset-md-left-15.inset-md-right-10
            .range
              .cell-sm-6.cell-md-12
                form.rd-search.rd-search-classic(action="search-results.html", method="GET")
                  .form-group
                    label(for="rd-search-form-input-1" class="form-label") Search...
                    input(class="form-control" id="rd-search-form-input-1" type="text" name="s" autocomplete="off")
                  button.rd-search-submit(type='submit')

                .offset-top-50
                  h6.text-uppercase Categories
                  ul.list-marked-bordered.offset-top-15
                    li: a(href='#')
                      span Travel Insurance
                      span.text-dusty-gray (2)
                    li: a(href='#')
                      span Wedding Insurance
                      span.text-dusty-gray (2)
                    li: a(href='#')
                      span Boat Insurance
                      span.text-dusty-gray (4)

                .offset-top-50
                  h6.text-uppercase Popular posts
                  .offset-top-30
                    +post-preview({
                      classes: ['offset-top-15'],
                      small: true,
                      img: 'post-preview-1-70x70',
                      header: 'A Guide to Boat Insurance Coverage',
                      time: ['2016-02-04', 'Feb 4, 2016']
                    })

                    +post-preview({
                      classes: ['offset-top-15'],
                      small: true,
                      img: 'post-preview-2-70x70',
                      header: 'What Insurance Do I Need Own Wedding ?',
                      time: ['2016-02-04', 'Feb 4, 2016']
                    })

                    +post-preview({
                      classes: ['offset-top-15'],
                      small: true,
                      img: 'post-preview-3-70x70',
                      header: 'Business Insurance for Festivals, Fairs & Parties',
                      time: ['2016-02-04', 'Feb 4, 2016']
                    })

              .cell-sm-6.cell-md-12.offset-top-50.offset-sm-top-0.offset-md-top-50
                h6.text-uppercase Twitter feed
                //- RD Twitter Feed
                .twitter(data-twitter-username='templatemonster').offset-top-30
                  -for (var i = 0; i < 3; i++)
                    //- Twitter item
                    .twitter-item.twitter-item-minimal(data-twitter-type='tweet')
                      .object-inline-baseline
                        a.icon.icon-xxs.icon-primary.fa-twitter(href='#', data-url="href")
                        time(data-date='text,datetime', datetime='2016-04-20')
                      p.tweet-text(data-tweet='text')
                      p.tweet-user(data-screen_name='text', data-user_name='href')

                .offset-top-50
                  h6.text-uppercase Tags
                  ul.list-tag-blocks.offset-top-22
                    li: a.active(href='#') Insurance
                    li: a(href='#') travel
                    li: a(href='#') boat
                    li: a(href='#') life
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default