extends  ../_skeleton

//- Includes
include ../elements/_ui-post-classic

block variables
  - var activeIndex = 4
  - var pageName = 'Blog Classic'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  +page-title('Blog', 'bg-blog')

  //- Blog classic
  section.section-50.section-sm-75.section-lg-100
    .shell
      .range.range-sm-center
        .cell-lg-10
          +post-classic({
            img: 'blog-classic-2-113x113',
            header: 'Smart Travel',
            text: [
              'Whether you’re planning a trip to the beach in Florida this summer, or headed all the way across the country, you want your vacation to be relaxing. It’s a getaway from work, not to mention your day-to-day life. So we’ve got some tips – from packing smart to protecting yourself from pickpockets – to make your trip the best it can be. Even if you’re only headed across the state, a packing list is a must. How many times have you left your home and arrived at your destination, only to find that you forgot...'
            ],
            tags: ["Travel", "Planning"],
            user: 'Amelia Condon',
            time: ['2016-06-17', '05/14/2016'],
            media : {
              type: "image",
              data: 'blog-classic-1-971x649'
            }
          })

          +post-classic({
            img: 'blog-classic-3-113x113',
            header: 'Insurance After the Wedding',
            text: ["The big day has come and gone but the happily ever after has just begun! You may think that planning the wedding was the worst of your stress, but there is still a lot to address afterwards. Once you are unpacked from the honeymoon, there are changes you will need to make, especially if you have a new last life insurance wedding name or new address. It’s important for all of your information to be..."],
            tags: ["Insurance", "Wedding"],
            user: 'Jack Therapy',
            time: ['2016-05-23', '05/14/2016']
          })

          +post-classic({
            img: 'blog-classic-4-113x113',
            header: 'About Motorcycle Insurance',
            text: [
              "If you own a motorcycle then you need to have motorcycle insurance.  Though they offer similar types of coverage, it differs from auto insurance as auto insurance helps to protect cars and motorcycle insurance helps protect motorcycles.  They are not interchangeable. What is motorcycle insurance? Motorcycle insurance is financial protection in case you get into an accident or something happens to your motorcycle or even you while riding your motorcycle.  If you get into an accident, instead of..."
            ],
            tags: ["Motorcycle", "Auto"],
            user: 'Axel Merphy',
            time: ['2016-04-14', '05/14/2016'],
            media: {
              type: "image",
              data: 'blog-classic-2-971x649'
            }
          })

          +post-classic({
            img: 'blog-classic-8-113x113',
            header: 'Back to School Insurance Needs',
            text: [
              "Going back to school is an exciting time for students, parents, and business owners.  When this time of year approaches, it is a good idea to reevaluate your commercial lines policies and make sure you have adequate coverage. for your business.  While it is always crucial as a business owner to have the right coverage for your business, this time of year can be particularly hectic. Dry... "
            ],
            tags: ["Insurance", "School"],
            user: 'Julien Miro',
            time: ['2016-03-02', '05/14/2016'],
            media: {
              type: "gallery",
              data: [
                "blog-classic-5-970x546",
                "blog-classic-6-970x546",
                "blog-classic-7-970x546"
              ]
            }
          })

          .offset-top-40.offset-sm-top-60.offset-lg-top-100.text-center
            +pagination
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default