extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-bordered
include ../elements/_ui-quote-vertical


block variables
  - var activeIndex = 5
  - var pageName = 'Clients testimonials'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default


  +page-title('Clients', 'bg-image-1')

  //- Team
  section.section-66.section-sm-90.section-lg-bottom-120
    .shell
      .range
        .cell-xs-12.text-center
          h3 Testimonials

      .range.offset-top-40
        .cell-sm-6
          .inset-lg-left-60.inset-lg-right-40
            +quote-bordered({
              img: 'clients-testimonials-1-68x68',
              header: 'Keep up going this way.',
              text: 'I love working with everyone here. Our underwriters have been fantastic and are so willing to help and figure out solutions if there are problems. I love that if my underwriter doesn’t know the answer to a question nothing is made up—she finds the answer. ',
              cite: 'Mark Wilson',
              caption: 'Top Manager'
            })

        .cell-sm-6.offset-top-40.offset-sm-top-0
          .inset-lg-left-60.inset-lg-right-40
            +quote-bordered({
              img: 'clients-testimonials-2-68x68',
              header: 'I wish all of you good luck!',
              text: "I wanted to take a moment and tell you what a fantastic employee you have. She treated me with the utmost professionalism and was a calming voice that alleviated my stress during a stressful situation. She is an absolute pleasure to work with.",
              cite: 'Amanda Eberson',
              caption: 'CEO, Eberson Co.'
            })
  ='\n'

  include ../sections/_section-testimonials-parallax

  include ../sections/_section-testimonials-complex

  //- What Clients Say?
  section.section-60.section-sm-90.section-md-bottom-120.bg-white
    .shell.text-center
      .range
        .cell-xs-12
          h3 What Clients Say?
      .range.range-xs-center.range-sm-left.offset-top-40
        .cell-sm-4
          +quote-vertical({
            img: 'clients-testimonials-7-113x113.png',
            text: "The one thing I am sure about right now is that my next web startup will be developed by AllRisk.",
            cite: "Axel Merphy",
            caption: 'Freelance developer'
          })

        .cell-sm-4.offset-top-60.offset-sm-top-0
          +quote-vertical({
            img: 'clients-testimonials-8-113x113.png',
            text: "They’ve developed a large multipage website with lots of additional functions in just two weeks.",
            cite: "Amelia Lee",
            caption: 'Sales, demolink.org'
          })

        .cell-sm-4.offset-top-60.offset-sm-top-0
          +quote-vertical({
            img: 'clients-testimonials-9-113x113.png',
            text: "I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.",
            cite: "Jack McGee",
            caption: 'Founder, The Therapy'
          })

        .cell-sm-4.offset-top-60
          +quote-vertical({
            img: 'clients-testimonials-10-113x113.png',
            text: "Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.",
            cite: "Olivia Grosh",
            caption: 'Writer'
          })

        .cell-sm-4.offset-top-60
          +quote-vertical({
            img: 'clients-testimonials-11-113x113.png',
            text: "An efficient and reliable resource. They always remain flexible, cost effective, and lightning fast. Keep up the good work!",
            cite: "John Anderson",
            caption: 'Artist'
          })

        .cell-sm-4.offset-top-60
          +quote-vertical({
            img: 'clients-testimonials-12-113x113.png',
            text: "A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add.",
            cite: "Jessica Priston",
            caption: 'Financial Consultant'
          })
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default