extends  ../_skeleton

//- Includes
include ../elements/_ui-link-image

block variables
  - var activeIndex = 5
  - var pageName = 'Clients'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default


  +page-title(pageName, 'bg-image-1')

  //- Our Partners
  section.section-66.section-sm-top-90.section-sm-bottom-75
    .shell
      .range
        .cell-xs-12
          h3.text-spacing--25 Our Partners
          p(style='max-width: 590px;').
            We rely on a hybrid distribution model to ensure that we have the right expertise engaged in each part of your policy transaction. Using appointed independent retail agents and program managers on a select basis, we ensure local expertise is used to produce reliable insurance.
        .range.offset-top-40.offset-sm-top-60
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-1-126x68'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-2-126x100'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-3-132x83'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-4-169x68'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-5-141x88'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-6-138x55'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-7-104x84'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-8-144x68'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-9-105x94'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-10-95x101'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-11-126x68'})
          .cell-xs-6.cell-sm-4.cell-md-3.cell-lg-2
            +link-image({img: 'clients-12-132x83'})

  ='\n'

  include ../sections/_section-testimonials-vertical-dark


  //- Page Footer
  include ../sections/_section-footer-default