extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-default
include ../elements/_ui-panel

block variables
  - var activeIndex = 5
  - var pageName = 'FAQ'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default


  +page-title(pageName, 'bg-image-8')

  //- FAQ
  section.section-60.section-sm-90.section-lg-bottom-120.bg-gray-lighter
    .shell
      .range.range-sm-center
        .cell-sm-10.cell-md-12
          .range
            .cell-md-6
              h3 General Questions
              p On this page we have collected the most popular questions.
              //- Bootstrap collapse
              #accordionOne.panel-group.panel-group-custom.panel-group-corporate(role='tablist', aria-multiselectable='true')
                +panel({
                  first: true,
                  panelClass: 'panel-corporate',
                  parentId: 'accordionOne',
                  number: '1',
                  header: 'What will happen when my policy is due for renewal?',
                  text: "At renewal, we will transfer your policy over to our sister company Insurance Services, which means that form your renewal date you will be insured through Insurance Services. We will write to you prior to your renewal with details of your cover and your premium for the coming year."
                })

                +panel({
                  panelClass: 'panel-corporate',
                  parentId: 'accordionOne',
                  number: '2',
                  header: 'Will I see any change in the level of service you provide?',
                  text: "Absolutely not, we will continue to provide the high level of service you expect from us, by operating under the one brand it will allow us to continue to deliver competitive premiums and great service."
                })

                +panel({
                  panelClass: 'panel-corporate',
                  parentId: 'accordionOne',
                  number: '3',
                  header: 'Will this affect my no-claims bonus?',
                  text: "We will transfer your no claims bonus along with the rest of your policy details to Insurance Services before we send your renewal invitation."
                })

                +panel({
                  panelClass: 'panel-corporate',
                  parentId: 'accordionOne',
                  number: '4',
                  header: 'Who are Insurance Services?',
                  text: "We launched in 1995 to provide insurance to customers of the renowned garages. We now have 20 years of experience in the insurance industry and have recently been awarded a 5 star defaqto rating for our comprehensive car insurance cover, full UK recovery breakdown cover and our platinum pet insurance cover."
                })

            .cell-md-6.offset-top-50.offset-md-top-0
              h3 Other Questions
              p The answers on most common questions are described bellow.
              //- Bootstrap collapse
              #accordionTwo.panel-group.panel-group-custom.panel-group-corporate(role='tablist', aria-multiselectable='true')
                +panel({
                  first: true,
                  panelClass: 'panel-corporate',
                  parentId: 'accordionTwo',
                  number: '1',
                  header: 'What if I am in the process of making a claim?',
                  text: "Absolutely not, we will continue to provide the high level of service you expect from us, by operating under the one brand it will allow us to continue to deliver competitive premiums and great service."
                })

                +panel({
                  panelClass: 'panel-corporate',
                  parentId: 'accordionTwo',
                  number: '2',
                  header: 'What about your Agency Credentials?',
                  text: "We are very proud of our Agency Credentials and over the period 2007 to 2012, we offset car CO2 emissions, and are proud to have planted 2.5 million trees.  To mark the end of The Insurance Agency, we have donated £30,000 to Eco Schools – a programme launched in 1992 to provide children with a fun and engaging way to learn about protecting our environment."
                })

                +panel({
                  panelClass: 'panel-corporate',
                  parentId: 'accordionTwo',
                  number: '3',
                  header: 'Will my payments change?',
                  text: "No - Your payments will stay the same unless you make a change to your policy."
                })

                +panel({
                  panelClass: 'panel-corporate',
                  parentId: 'accordionTwo',
                  number: '4',
                  header: 'Will terms and conditions change my current policy?',
                  text: "No - Your current policy will continue to run as normal and all terms, conditions and policy details will stay exactly the same, unless you make a change to your policy."
                })

                +panel({
                  panelClass: 'panel-corporate',
                  parentId: 'accordionTwo',
                  number: '5',
                  header: 'Do you offer Life insurance?',
                  text: "No. We are a non life insurer."
                })

                +panel({
                  panelClass: 'panel-corporate',
                  parentId: 'accordionTwo',
                  number: '6',
                  header: 'Do you offer home insurance or other personal products?',
                  text: "Yes. We offer excellent cost effective covers for motor, home and personal accident insurance programs."
                })
                +panel({
                  panelClass: 'panel-corporate',
                  parentId: 'accordionTwo',
                  number: '7',
                  header: 'Will you increase number of your branches and offices?',
                  text: "Yes. Indeed, we will expand our branch net work in years to come."
                })
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default