extends  ../_skeleton

block variables
  - var activeIndex = 5
  - var pageName = 'Forms'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default


  +page-title(pageName, 'bg-image-8')

  //- Forms
  section.section-60.section-sm-top-90.section-sm-bottom-100
    .shell
      .range
        //- Login Form
        .cell-sm-7.cell-md-5.cell-lg-4.text-center.text-sm-left
          h3.text-spacing--25 Login Form

          //- Block shadow
          .block-shadow.offset-top-40.text-center
            .block-inner
              p.h7 Login to your account
              .offset-top-40.offset-sm-top-60
                span.icon.icon-xl.icon-gray-base.material-icons-lock_open

            //- RD Mailform
            form.rd-mailform.form-modern.form-darker.offset-top-40
              .block-inner
                .form-group
                  input#login-form-login.form-control(type="text" name="login" data-constraints="@Required")
                  label.form-label(for="login-form-login") Login
                .form-group.offset-top-22
                  input#login-form-password.form-control(type="password" name="pass" data-constraints="@Required")
                  label.form-label(for="login-form-password") Password
                .offset-top-22
                  a.link-default(href='#') Forgot your password?
              .offset-top-30.offset-sm-top-60
                button(type="submit").btn.btn-primary.btn-block Sign Up

          .group-inline.offset-top-15.text-center
            span Haven’t an account?
            a.link.link-primary-inverse(href='register.html') Sign up here.

      //- Feedback Form
      .range.offset-top-60.offset-md-top-90
        .cell-md-9.cell-lg-7
          h3.text-spacing--25 Feedback Form
          //- RD Mailform
          form.rd-mailform.form-modern.offset-top-30(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .range.range-7
              .cell-sm-3
                .form-group
                  input#feedback-name.form-control(type="text" name="name" data-constraints="@Required")
                  label.form-label(for="feedback-name") Name
              .cell-sm-4.offset-top-30.offset-sm-top-0
                .form-group
                  input#feedback-email.form-control(type="email" name="email" data-constraints="@Email @Required")
                  label.form-label(for="feedback-email") Email
              .cell-sm-3.offset-top-30
                .form-group
                  input#feedback-date.form-control(type="text" name="date" data-constraints="@Required", data-time-picker='date')
                  label.form-label(for="feedback-date") Date
              .cell-sm-4.offset-top-30
                .form-group
                  input#feedback-time.form-control(type="text" name="time" data-constraints="@Required", data-time-picker='time')
                  label.form-label(for="feedback-time") Time Interval
              .cell-xs-7.offset-top-30
                .form-group
                  .textarea-lined-wrap
                    textarea#feedback-message.form-control(name="message" data-constraints="@Required")
                    label.form-label(for="feedback-message") Message

              .cell-xs-5.offset-top-30.offset-xs-top-30.offset-sm-top-50
                button(type="submit").btn.btn-primary.btn-block Send

              .cell-xs-2.offset-top-22.offset-xs-top-30.offset-sm-top-50
                button(type="reset").btn.btn-silver-outline.btn-block Reset
  ='\n'

  //- Feedback Form 2
  section.section-35.section-sm-75.section-lg-100.bg-whisper
    .shell
      .range
        .cell-md-9.cell-lg-6
          h3 Feedback Form 2
          //- RD Mailform
          form.rd-mailform.offset-top-40(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .range
              .cell-sm-6
                .form-group
                  input#feedback-2-first-name.form-control(type="text" name="first-name" data-constraints="@Required")
                  label.form-label(for="feedback-2-first-name") First Name
              .cell-sm-6.offset-top-30.offset-sm-top-0
                .form-group
                  input#feedback-2-last-name.form-control(type="text" name="last-name" data-constraints="@Required")
                  label.form-label(for="feedback-2-last-name") Last Name
              .cell-sm-6.offset-top-30
                .form-group
                  input#feedback-2-email.form-control(type="email" name="email" data-constraints="@Email @Required")
                  label.form-label(for="feedback-2-email") Email
              .cell-sm-6.offset-top-30
                .form-group
                  input#feedback-2-phone.form-control(type="text" name="phone" data-constraints="@Numeric @Required")
                  label.form-label(for="feedback-2-phone") Phone
              .cell-xs-12.offset-top-30
                .form-group
                  textarea#feedback-2-message.form-control(name="message" data-constraints="@Required")
                  label.form-label(for="feedback-2-message") Message

              .cell-sm-6.offset-top-30.offset-sm-top-50
                button(type="submit").btn.btn-primary-outline.btn-block Send
  ='\n'

  //- Newsletter
  section.section-40.section-sm-75
    .shell
      .range
        .cell-sm-6.cell-md-5.cell-lg-4
          h3.text-spacing--25 Newsletter
          //- RD Mailform
          form.rd-mailform.form-modern.offset-top-40(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
            .form-group
              input#contact-email.form-control(type="email" name="email" data-constraints="@Email @Required")
              label.form-label(for="contact-email") Email
            button(type="submit").btn.btn-primary.btn-block.offset-top-30 Subscribe
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default