extends  ../_skeleton

//- Includes
include ../elements/_ui-thumbnail-3

block variables
  - var activeIndex = 3
  - var pageName = 'Grid Gallery'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default


  +page-title('Gallery', 'bg-image-1')

  section.section-50.section-sm-90.section-md-bottom-120.section-lg-bottom-165
    .shell.isotope-wrap
      .range.text-center
        .cell-xs-12
          //- Isotope Filters
          ul.isotope-filters-responsive
            li: p Choose your category:
            li.block-top-level
              //- Isotope Filters
              button.isotope-filters-toggle.btn.btn-sm.btn-default(data-custom-toggle='#isotope-1', data-custom-toggle-hide-on-blur='true')
                | Filter
                span.caret

              #isotope-1.isotope-filters.isotope-filters-minimal.isotope-filters-horizontal
                ul.list-inline
                  li
                    a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
                  li
                    a(data-isotope-filter='Category 1', data-isotope-group='gallery', href='#') Life Insurance
                  li
                    a(data-isotope-filter='Category 2', data-isotope-group='gallery', href='#') Business Insurance
                  li
                    a(data-isotope-filter='Category 3', data-isotope-group='gallery', href='#') House Insurance

        //- Isotope Content
        .cell-xs-12.offset-top-40
          .row
            .isotope.isotope-gutter-default(data-isotope-layout='fitRows', data-isotope-group='gallery', data-photo-swipe-gallery='gallery')
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 3')
                +thumbnail-3({img: 'gallery-grid-1-370x278', original: 'gallery-1-803x1200_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-grid-2-370x278', original: 'gallery-2-1200x800_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-grid-3-370x278', original: 'gallery-3-1200x797_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-grid-4-370x278', original: 'gallery-4-1200x797_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-grid-5-370x278', original: 'gallery-5-1200x800_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-grid-6-370x278', original: 'gallery-6-1200x797_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-grid-7-370x278', original: 'gallery-7-1200x800_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-grid-8-370x278', original: 'gallery-8-1200x995_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-grid-9-370x278', original: 'gallery-9-1200x800_original'})
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default