extends  ../_skeleton

//- Includes
include ../elements/_ui-post-block

block variables
  - var activeIndex = 4
  - var pageName = 'Grid blog'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  +page-title('Blog', 'bg-blog')

  //- Blog masonry
  section.section-50.section-sm-75.section-lg-100
    .shell
      .range.range-sm-center.range-md-left
        .cell-sm-9.cell-md-6.height-fill
          +post-block({
            img: 'blog-grid-1-570x253',
            header: 'Smart Travel',
            user: 'Amelia Condon',
            time: ['2016-01-01', '5 days ago'],
            tags: ['Business', 'Startup']
          })

        .cell-sm-9.cell-md-6.height-fill.offset-top-30.offset-md-top-0
          +post-block({
            img: 'blog-grid-2-570x253',
            header: 'Back to School Insurance Needs',
            user: 'Amelia Condon',
            time: ['2016-01-01', '5 days ago'],
            tags: ['Business', 'Startup']
          })

        .cell-sm-9.cell-md-6.height-fill.offset-top-30
          +post-block({
            img: 'blog-grid-3-570x253',
            header: 'Insurance After the Wedding',
            user: 'Amelia Condon',
            time: ['2016-01-01', '5 days ago'],
            tags: ['Business', 'Startup']
          })

        .cell-sm-9.cell-md-6.height-fill.offset-top-30
          +post-block({
            img: 'blog-grid-4-570x253',
            header: 'Adding New Watercraft Coverage Enhancements',
            user: 'Amelia Condon',
            time: ['2016-01-01', '5 days ago'],
            tags: ['Business', 'Startup']
          })

        .cell-sm-9.cell-md-6.height-fill.offset-top-30
          +post-block({
            img: 'blog-grid-5-570x253',
            header: 'About Motorcycle Insurance',
            user: 'Amelia Condon',
            time: ['2016-01-01', '5 days ago'],
            tags: ['Business', 'Startup']
          })

      .range.text-center.offset-top-40.offset-sm-top-60.offset-lg-top-100
        .cell-xs-12
          +pagination
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default