extends  ../_skeleton

//- Includes
include ../elements/_ui-thumbnail-3
include ../elements/_ui-quote-default

block variables
  - var activeIndex = 5
  - var pageName = 'Team member profile'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default


  +page-title('Our team', 'bg-image-7')

  //- Julien Miro
  section.section-50.section-sm-75.section-lg-100
    .shell
      .range.range-sm-center.range-md-left
        .cell-sm-6.cell-md-6
          .thumbnail.thumbnail-profile
            .thumbnail-image
              +jpg('profile-1-570x570')
            .thumbnail-caption
              .thumbnail-caption-inner
                ul
                  li
                    .unit.unit-horizontal.unit-spacing-xs.unit-middle
                      .unit-left
                        span.icon.icon-xxs.icon-gray-base.material-icons-phone
                      .unit-body
                        a.link-cello(href='callto:#') +1 (232) 349–8447
                  li
                    .unit.unit-horizontal.unit-spacing-xs.unit-middle
                      .unit-left
                        span.icon.icon-xxs.icon-gray-base.fa-envelope-o
                      .unit-body
                        a.link-cello(href='mailto:#') info@demolink.org
                .btn-wrap
                  a.btn.btn-small.btn-cello-outline(href='contacts-us.html') get in touch

        .cell-sm-6.cell-md-6.cell-lg-5.offset-top-40.offset-sm-top-0
          .inset-sm-left-50.inset-md-left-40.inset-lg-left-100
            h4 Chris Johnson
            p.offset-top-0.text-cello Executive Vice President/Sales Manager

            p Chris Johnson is our Executive Vice President and a soul of our agency. He is a member of the fourth generation of the agency family to become a vital member of the agency’s staff.

          .offset-top-15.offset-md-top-0
           +quote-default('I am really happy to work with the highly experienced team to help people protect them!')

          .inset-sm-left-50.inset-md-left-40.inset-lg-left-100.offset-top-15.offset-md-top-0
            p After attending De La Salle High School, Chris graduated from Louisiana State University with a major in Business Administration and a minor in Finance.  He has over 20 years of experience in the insurance industry.
            .offset-top-30
              include ../_includes/_progress-list
  ='\n'

  //- Portfolio
  section.section-50.section-sm-90.section-lg-top-120.section-lg-bottom-145.bg-mine-shaft.bg-mine-shaft-varinat-1
    .shell.isotope-wrap
      .range
        .cell-xs-12.text-center
          h3.text-spacing--25 Check Out My Work
          p.reveal-inline-block(style='max-width: 650px;') Our fully licensed and professional insurance agency is an Independent Professional company that works for you to make sure you get the right coverage at the right price.

          //- Isotope Filters
          ul.isotope-filters-responsive.offset-top-40
            li: p Choose your category:
            li.block-top-level
              //- Isotope Filters
              button.isotope-filters-toggle.btn.btn-sm.btn-default(data-custom-toggle='#isotope-1', data-custom-toggle-hide-on-blur='true')
                | Filter
                span.caret

              #isotope-1.isotope-filters.isotope-filters-minimal.isotope-filters-horizontal
                ul.list-inline
                  li
                    a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
                  li
                    a(data-isotope-filter='Category 1', data-isotope-group='gallery', href='#') Life Insurance
                  li
                    a(data-isotope-filter='Category 2', data-isotope-group='gallery', href='#') Business Insurance
                  li
                    a(data-isotope-filter='Category 3', data-isotope-group='gallery', href='#') House Insurance


        .cell-xs-12.offset-top-40
          .row
            .isotope.isotope-gutter-default(data-isotope-layout='fitRows', data-isotope-group='gallery', data-photo-swipe-gallery='gallery')
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 3')
                +thumbnail-3({img: 'gallery-grid-1-370x278', original: 'gallery-1-803x1200_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-grid-2-370x278', original: 'gallery-2-1200x800_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-grid-3-370x278', original: 'gallery-3-1200x797_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-grid-4-370x278', original: 'gallery-4-1200x797_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-grid-5-370x278', original: 'gallery-5-1200x800_original'})

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-grid-6-370x278', original: 'gallery-6-1200x797_original'})
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default