.range.range-sm-bottom
  .cell-sm-6.cell-lg-3
    //- Pricing table
    .pricing-table
      .pricing-table-body
        h5.pricing-table-header free
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 0
          span.small.small-bottom /mo
        .divider-circle

        ul.pricing-list
          li
            span.text-ubold 1GB
            | Space amount
          li
            span.text-ubold 5
            | users
          li
            span.text-ubold 5GB
            | Bandwith
          li No Support

          li
            span.text-ubold 1
            | Databases
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up

  .cell-sm-6.cell-lg-3.offset-top-40.offset-sm-top-0
    //- Pricing table
    .pricing-table
      .pricing-table-body
        h5.pricing-table-header Starter
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 59
          span.small.small-bottom /mo
        .divider-circle

        ul.pricing-list
          li
            span.text-ubold 5GB
            | Space amount
          li
            span.text-ubold 20
            | users
          li
            span.text-ubold 10GB
            | Bandwith
          li No Support

          li
            span.text-ubold 1
            | Databases
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up

  .cell-sm-6.cell-lg-3.offset-top-40.offset-lg-top-0
    //- Pricing table
    .pricing-table.pricing-table-preferred
      .pricing-table-label
        p Most Popular
      .pricing-table-body
        h5.pricing-table-header Business
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 99
          span.small.small-bottom /mo
        .divider-circle

        ul.pricing-list
          li
            span.text-ubold 10GB
            | Space amount
          li
            span.text-ubold Unlimited
            | users
          li
            span.text-ubold 30GB
            | Bandwith
          li Free Support

          li
            span.text-ubold 20
            | Databases
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up

  .cell-sm-6.cell-lg-3.offset-top-40.offset-lg-top-0
    //- Pricing table
    .pricing-table
      .pricing-table-body
        h5.pricing-table-header Ultimate
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 199
          span.small.small-bottom /mo
        .divider-circle

        ul.pricing-list
          li
            span.text-ubold 100GB
            | Space amount
          li
            span.text-ubold Unlimited
            | users
          li
            span.text-ubold 60GB
            | Bandwith
          li Free Support

          li
            span.text-ubold Unlimited
            | Databases
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up