ul.list-progress
  li
    p.animated.fadeIn Life Insurance
    //- Progress Bar
    .progress-bar-js.progress-bar-horizontal.progress-bar-red-orange-1(data-value='70', data-stroke='4', data-easing='linear', data-counter='true' data-duration='1000', data-trail='100')
  li
    p.animated.fadeIn Car Insurance
    //- Progress Bar
    .progress-bar-js.progress-bar-horizontal.progress-bar-dodger-blue(data-value='54', data-stroke='4', data-easing='linear', data-counter='true' data-duration='1000', data-trail='100')
  li
    p.animated.fadeIn Business Insurance
    //- Progress Bar
    .progress-bar-js.progress-bar-horizontal.progress-bar-gorse(data-value='87', data-stroke='4', data-easing='linear', data-counter='true' data-duration='1000', data-trail='100')
  li
    p.animated.fadeIn Travel Insurance
    //- Progress Bar
    .progress-bar-js.progress-bar-horizontal.progress-bar-primary(data-value='90', data-stroke='4', data-easing='linear', data-counter='true' data-duration='1000', data-trail='100')