//
// Custom Buttons Styles
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.btn {
  max-width: 100%;
  font-family: $font-family-sec;
  font-size: $btn-font-size * 1px;
  font-weight: $btn-font-weight;
  border-radius: 0;
  padding: 11px 59px;
  border: 2px solid;
  text-transform: capitalize;
  transition: .3s ease-out;

  &:focus,
  &:active,
  &:active:focus {
    outline: none;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
    }
  }

  &:hover,
  &:focus,
  &.focus {
  }

  &:active,
  &.active {
    @include box-shadow(none);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
  }

  &-smaller {
    padding: 8px 25px;
  }

  &-small {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// Alternate buttons
// --------------------------------------------------
html {
  .btn-default {
    @include button-variant-custom($white, $abbey, $abbey, $white, $brand-primary, $brand-primary);
  }

  .btn-primary {
    @include button-variant-custom($btn-primary-color, $btn-primary-bg, $btn-primary-border, $white, $keppel, $keppel);
  }

  .btn-cello {
    @include button-variant-custom($white, $cello, $cello, $white, $brand-primary, $brand-primary);
  }

  .btn-red-orange {
    @include button-variant-custom($white, $red-orange, $red-orange, $white, $gray-dark, $gray-dark);
  }

  .btn-primary-contrast {
    @include button-variant-custom($white, $brand-primary, $brand-primary, $white, $keppel, $keppel);
  }

  .btn-primary-outline {
    @include button-variant-custom($brand-primary, transparent, $brand-primary, $white, $brand-primary, $brand-primary);
  }

  .btn-cello-outline {
    @include button-variant-custom($cello, transparent, $cello, $white, $brand-primary, $brand-primary);
  }

  .btn-white-outline {
    @include button-variant-custom($white, transparent, $white, $tundora, $white, $white);
  }

  .btn-white-outline-variant-1 {
    @include button-variant-custom($white, transparent, $white, $white, $brand-primary, $brand-primary);
  }

  .btn-silver-outline {
    @include button-variant-custom($cello, transparent, $silver, $white, $silver, $silver);
  }

  .btn-gray-base-outline {
    @include button-variant-custom($gray-base, transparent, $gray-base, $white, $gray-base, $gray-base);
  }

  // Success appears as green
  .btn-success {
  }

  // Info appears as blue-green
  .btn-info {
  }

  // Warning appears as orange
  .btn-warning {
  }

  // Danger and error appear as red
  .btn-danger {
  }
}

.page {
}

// Button Sizes
// --------------------------------------------------

.btn-xs {
  min-width: 100px;
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, 14px, $line-height-base, 0);
}

.btn-sm {
  min-width: 120px;
  @include button-size(9px, 45px, 14px, $line-height-base, 0);
}

.btn-lg {
  min-width: 270px;
  @include button-size(15px, $padding-large-horizontal, 13px, $line-height-base, 0);
  @media (min-width: $screen-sm-min) {
    font-size: 18px;
  }
}

.btn-xl {
  @include button-size(15px, 22px, 13px, $line-height-base, 0);

  @media (min-width: $screen-sm-min) {
    padding: $padding-extra-large-vertical $padding-extra-large-horizontal;
    font-size: 18px;
  }

  // Variants
  @media (min-width: $screen-md-min) {
    min-width: 270px;
    &-bigger {
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }
}

// Button Shapes
// --------------------------------------------------

.btn-round,
.btn-circle,
.btn-rect {
  padding: 11px 64px;
}

.btn-block {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 30px;
  max-width: 100%;
}

.btn-rect {
  border-radius: 5px;
}

.btn-round {
  border-radius: 15px;
}

.btn-circle {
  border-radius: 35px;
}

.btn-round-bottom {
  border-radius: 0 0 5px 5px;
}

// Button Modifiers
// --------------------------------------------------
.btn-shadow {
  @include box-shadow(-3px 3px 3px 0 rgba($gray-base, .14));
}

// Button Icon styles
// --------------------------------------------------

.btn {
  &.btn-icon {
    @include display-inline-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(center);
    @include justify-content(center);
    padding: 11px 49px;
    vertical-align: middle;

    .icon {
      position: relative;
      top: 1px;
      display: inline-block;
      width: auto;
      height: auto;
      line-height: 0;
      vertical-align: middle;
      transition: 0s;
    }

    &-left {
      .icon {
        margin-right: 5px;
      }
    }

    &-right {
      @include flex-direction(row-reverse);
      padding: 11px 39px;
      .icon {
        margin-left: 5px;
      }
    }
  }
}

.btn-icon-only {
  @include reset-button;
  font-size: 0;
  line-height: 0;
  transition: .33s all ease;

  &.btn-icon-only-primary {
    @include link($brand-primary, $gray-base);
  }
}

.btn-icon-only {
  padding: 9px 18px;
}

.btn-custom {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  &.btn.btn-icon-right {
    padding: 9px 41px;
  }
  &.btn.btn-icon-right .icon {
    margin-left: 9px;
  }
  &.btn-cello {
    .icon {
      color: $brand-primary;
      @include transition(.3s ease-out all);
    }
    &:hover {
      .icon {
        color: $white;
      }
    }
  }
}

button.btn.btn-icon {
  display: inline-block;
  vertical-align: middle;
  .icon {
    top: -1px;
  }
}

html .page .section-buttons{

  @media (max-width: $screen-sm-min - 1) {

    .btn {
      min-width: 170px;
      max-width: 170px;
      padding: 15px 15px;
    }
    .btn-sm {
      min-width: 135px;
      max-width: 135px;
    }
    .btn-xl {
      min-width: 250px;
      font-size: 15px;
    }

    .btn-lg {
      min-width: 200px;
      max-width: 200px;
      padding: 15px 20px;
    }
  }

}
