//
// Figure
// --------------------------------------------------
figure {
  img {
    width: 100%;
    height: auto;
    max-width: none;
  }
}

.figure {
  .caption {
    padding: 15px;
  }
}

@media (min-width: $screen-md-min) {
  .figure {
    .caption {
    }
  }
}