//
// Nav custom
// --------------------------------------------------

// Tabs
//--------------------------------------
// Corporate style
$tabs-corporate-color: $cello;
$tabs-corporate-background: transparent;
$tabs-corporate-active-color: $white;
$tabs-corporate-active-background: $cello;
$tabs-corporate-border: #d9d9d9;
$tabs-corporate-arrow-color: $white;

// Line style
$tabs-line-color: $dusty-gray;
$tabs-line-background: transparent;
$tabs-line-active-color: $brand-primary;
$tabs-line-active-background: transparent;
$tabs-line-active-border: $brand-primary;
$tabs-line-line: $porcelain;

// Minimal style
$tabs-minimal-color: $cello;
$tabs-minimal-background: transparent;
$tabs-minimal-active-color: $cello;
$tabs-minimal-active-background: transparent;
$tabs-minimal-active-border: $brand-primary;

$vertical-tab-offset: 10px;

// Base styles
.tabs-custom {
  .nav-tabs {
    word-spacing: 0;
    border: 0;

    &:before,
    &:after {
      display: none;
    }

    li {
      float: none;
      border: 0;
      cursor: pointer;
      transition: .33s all ease;
    }

    li.active {
      cursor: default;

      a {
        border: 0;
      }
    }

    a {
      margin: 0;
      border: 0;
    }
  }
}

// Offsets
* + .tabs-custom {
  margin-top: 35px;

  @media (min-width: $screen-md-min) {
    margin-top: 50px;
  }
}

.tabs-custom {
  &.tabs-corporate,
  &.tabs-line,
  &.tabs-minimal {
    .nav-tabs {
      font-size: 0;
      line-height: 0;
    }
  }

  // Tabs corporate style
  &.tabs-corporate {
    .nav-tabs {
      border: 1px solid $tabs-corporate-border;
      li {
        margin: -1px 0;
      }

      li a {
        padding: 8px 10px;
        font: 700 11px/18px $font-family-sec;
        color: $tabs-corporate-color;
        background: $tabs-corporate-background;
        border-bottom: 1px solid $tabs-corporate-border;
        text-align: center;
        vertical-align: middle;

        &:after {
          font: 400 17px 'Material Design Icons';
          color: transparent;
          position: relative;
          top: -12px;
          display: inline-block;
          margin-left: 5px;
          content: '\f236';
          vertical-align: middle;
          transition: .33s all ease;
        }

        &:first-child {
          border-top: 1px solid $tabs-corporate-border;
        }
      }

      li a:hover,
      li.active a {
        color: $tabs-corporate-active-color;
        background: $tabs-corporate-active-background;
        border-color: $tabs-corporate-active-background;

        &:after {
          top: -1px;
          color: $tabs-corporate-arrow-color;
        }
      }
    }

    .tab-content {
      padding: 22px 0 0;
      color: $gray-base;
    }
  }

  // Tabs line style & Tabs minimal style
  &.tabs-line,
  &.tabs-minimal {
    .nav-tabs {
      li {
        margin: 0;
      }

      li + li {
        margin-top: -1px;
      }
    }

    .tab-content {
      padding: 22px 0 0;
    }
  }

  // Tabs line style
  &.tabs-line {
    .nav-tabs {
      li a {
        font: 400 11px/16px $font-family-base;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $tabs-line-color;
      }

      li a:hover,
      li.active a {
        color: $tabs-line-active-color;
      }
    }
  }

  // Tabs minimal style
  &.tabs-minimal {
    .nav-tabs {
      li a {
        font: 700 11px/24px $font-family-base;
        color: $tabs-minimal-color;
      }

      li a:hover,
      li.active a {
        color: $tabs-minimal-active-color;
      }
    }
  }
}

// Horizontal tabs
// ----------------------
.tabs-custom {
  // Tabs line style
  &.tabs-line {
    .nav-tabs {
      text-align: center;

      li {
        display: block;
        margin: 0 -1px;
      }

      li a {
        padding: 8px 15px;
        border: 1px solid $tabs-line-line;

        &:last-child {
          margin-right: 0;
          border-bottom-width: 1px;
        }
      }

      li a:hover,
      li.active a {
        color: $white;
        background: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }

  // Tabs minimal style
  &.tabs-minimal {
    .nav-tabs {
      text-align: center;

      li {
        display: block;
      }

      li a {
        padding: 7px 15px;
        border: 1px solid $tabs-line-line;

        &:last-child {
          border-bottom-width: 1px;
        }
      }

      li a:hover,
      li.active a {
        color: $white;
        background: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .tabs-custom {

    // Tabs line style & Tabs minimal style
    &.tabs-line,
    &.tabs-minimal {
      li {
        margin: 0;
      }
    }

    &.tabs-line {
      .nav-tabs {
        li a {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    &.tabs-minimal {
      .nav-tabs {
        li a {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    // Horizontal tabs
    // ----------------------
    &.tabs-horizontal {
      // Tabs corporate style & Tabs line style
      &.tabs-corporate,
      &.tabs-line {
        .nav-tabs {
          @include display-flex;
          @include flex-direction(row);
          @include align-items(center);
          width: 100%;
          text-align: left;
        }
      }

      // Tabs line style & Tabs minimal style
      &.tabs-line,
      &.tabs-minimal {
        .nav-tabs {
          li a {
            position: relative;
            z-index: 10;
            display: inline-block;
            border: 0;
          }

          li + li {
            margin-top: 0;
          }
        }

        .tab-content {
          padding: 40px 0 0;
        }
      }

      // Tabs corporate style
      &.tabs-corporate {
        .nav-tabs {
          li, a {
            display: block;
            border: 0;
          }
        }
      }

      // Tabs line style
      &.tabs-line {
        .nav-tabs {
          @include justify-content(space-between);
          border-bottom: 2px solid $tabs-line-line;

          li a {
            padding: 8px 0 8px 0;
            margin: 0 30px 0 0;
            background: $tabs-line-background;

            &:after {
              content: '';
              position: absolute;
              left: 0;
              right: 100%;
              bottom: -1px;
              border-bottom: 2px solid $tabs-line-active-border;
              opacity: 0;
              visibility: hidden;
              transition: .33s all ease;
            }
          }

          li a:hover,
          li.active a {
            color: $tabs-line-active-color;
            background: $tabs-line-active-background;
          }

          li.active a {
            &:after {
              right: 0;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      // Tabs minimal style
      &.tabs-minimal {
        .nav-tabs {
          margin-top: -$vertical-tab-offset;

          li {
            display: inline-block;
            margin: $vertical-tab-offset 35px 0 0;
          }

          li a {
            position: relative;
            bottom: -1px;
            z-index: 10;
            display: inline-block;
            padding: 0 0 5px 0;

            &:after {
              content: '';
              position: absolute;
              left: 0;
              right: 100%;
              bottom: 0;
              border-bottom: 2px solid $tabs-line-active-border;
              opacity: 0;
              visibility: hidden;
              transition: .33s all ease;
            }

            &:last-child {
              margin-right: 0;
            }
          }

          li a:hover,
          li.active a {
            color: $tabs-minimal-active-color;
            background: $tabs-minimal-active-background;
          }

          li.active a {
            &:after {
              right: 0;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

// Vertical tabs
// ----------------------
.tabs-vertical {

  // Common styles
  .nav-tabs {
    position: relative;

    > li {
      z-index: 10;
      display: block;
      @include flex-grow(1);
      a {
      }
    }
  }

  // Tabs corporate style
  &.tabs-corporate {
    .nav-tabs {
      width: 100%;

      li {
        display: block;
      }

      li a {
        position: relative;
        padding: 8px 10px;
      }

      li a:hover,
      li.active a {
        border-color: $tabs-corporate-active-background;
      }
    }

    .tab-content {
      padding: 30px 10px 30px;
    }
  }

  &.tabs-vertical-reverse {
    .nav.nav-tabs {
      li {
        a {
          font: 700 12px $font-family-base;
          text-transform: uppercase;
          color: $gray;
          background-color: transparent;
          border-color: $porcelain;
          &:after {
            display: none;
          }
        }
        &:hover,
        &.active {
          a {
            color: $brand-primary;
            fill: $brand-primary;
            background-color: transparent;
            border-color: $porcelain;
          }
        }
      }
      svg {
        display: none;
        line, path, circle {
          @include transition(.3s ease-out all);
        }
        &.stroke {
          transition: 0s;
          path, line {
            transition: 0s;
            stroke: none;
          }
        }
      }
    }
    .tab-content {
      padding: 20px;
    }
  }

  // Tabs minimal style
  &.tabs-minimal {
    .nav-tabs {
      border-right: 1px solid $alto;
      li a {
        position: relative;
        right: -1px;
        padding: 0 16px 0 0;
        text-align: right;
        border-right: 1px solid transparent;
        background-color: transparent;

        &:hover,
        &.resp-tab-active {
          border-right-color: $secondary;
        }
      }

      li + li {
        margin-top: 16px;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .tabs-custom {
    // Tabs corporate style
    &.tabs-corporate {
      .nav-tabs {
        li a {
          font-size: 16px;
          line-height: 26px;

          &:after {
            font-size: 25px;
          }
        }
      }
    }

    // Horizontal tabs
    // ----------------------
    &.tabs-horizontal {

      // Tabs corporate style
      &.tabs-corporate {
        .nav-tabs {
          position: relative;
          @include justify-content(center);

          li {
            @include flex-grow(1);
            @include flex-shrink(0);
          }

          li a {
            display: block;
            padding: 21px 10px 19px;
          }
        }

        .tab-content {
          padding: 30px 0 0;
        }
      }
    }

    // Vertical tabs
    // ----------------------
    &.tabs-vertical {
      @include display-flex;
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include align-items(flex-start);

      .nav-tabs {
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(nowrap);
        @include align-items(stretch);
        @include flex-shrink(0);
        max-width: 50%;

        li {
          width: 100%;
        }

        li a {
          text-align: left;
        }

        li a:hover,
        li.active a {
          border-color: $tabs-corporate-active-background;

          &:after {
            right: 15px;
          }
        }
      }

      .tab-content {
        @include flex-grow(1);
      }

      &.tabs-corporate {
        .nav-tabs {
          width: auto;
          min-width: 240px;
          border-width: 0 0 1px 0;

          li {
            margin: 0;
          }

          li a {
            padding: 23px 45px 22px 55px;
            border-width: 1px 0 0 0;
            text-align: left;
            &:after {
              position: absolute;
              top: 50%;
              @include transform(translateY(-50%));
              right: 26px;
              content: '\f238';
              transition: .33s all ease;
            }
          }

          li a:hover,
          li.active a {
            &:after {
              right: 15px;
              top: 50%;
            }
          }
        }

        .tab-content {
          padding: 0 0 0 30px;
          margin-top: -5px;
        }
      }
      &.tabs-vertical-reverse {
        @include flex-direction(row-reverse);
        .nav-tabs {
          border: 0;
          li {
            &:first-child {
              a {
                border-top: 0;
              }
            }
            a {
              padding: 25px 17px 25px 0;
              text-transform: uppercase;
              color: $gray;
              fill: $gray;
              path, line, circle {
                stroke: $gray;
              }
              .fill {
                path, line {
                  fill: $gray;
                  stroke: none;
                }
              }
              background-color: transparent;
              border-color: $porcelain;
              &:after {
                display: none;
              }
              svg {
                display: block;
              }
              > span {
                &:first-child {
                  @include display-flex;
                  @include flex-direction(row);
                  @include align-items(center);
                  @include justify-content(space-between);
                }
              }
            }
            &:hover,
            &.active {
              a {
                color: $brand-primary;
                fill: $brand-primary;
                path, line, circle {
                  stroke: $brand-primary;
                }
                .fill {
                  path, line {
                    fill: $brand-primary;
                    stroke: none;
                  }
                }
                .stroke {
                  path, line {
                    stroke: none;
                  }
                }
                background-color: transparent;
                border-color: $porcelain;
              }
            }
          }
        }

        .tab-content {
          padding: 0 30px 0 0;
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .tabs-custom {

    // Vertical tabs
    // ----------------------
    &.tabs-vertical {

      // Tabs corporate style
      &.tabs-corporate {
        .nav-tabs {
          min-width: 300px;
        }

        .tab-content {
          padding: 0 0 0 44px;
        }
      }
      &.tabs-vertical-reverse {
        .nav-tabs {
          min-width: 224px;
        }
        .tab-content {
          padding: 0 44px 0 0;
        }
      }
    }
  }
}

.tab-content-inner {
  display: table;
  table-layout: fixed;
  max-width: 724px;
  > div {
    &:first-child,
    &:last-child {
      max-width: 541px;
    }
  }
  @media (min-width: $screen-lg-min) {
    > div {
      display: table-cell;
      vertical-align: middle;
      &:first-child {
        width: 40%;
        > div {
          max-width: 216px;
        }
      }
      &:last-child {
        max-width: 431px;
        min-width: 431px;
      }
    }
  }
}

.tabs-custom.tabs-horizontal.tabs-line.tabs-custom-horizontal {
  li {
    a {
      font: 700 12px $font-family-base;
      letter-spacing: 0.05em;
    }
    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }
  @media (min-width: $screen-lg-min) {
    .nav.nav-tabs {
      width: calc(100% - 50px);
    }
  }
}