//
// Custom utilities
// --------------------------------------------------

// Helpers
// -------------------------
.relative {
  position: relative;
}

.static {
  position: static;
}

.block-top-level {
  position: relative;
  z-index: 3;
}

.height-fill {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(stretch);

  > * {
    @include flex-grow(1);
  }
}

.centered {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
}

.align-bottom {
  @include align-self(flex-end);
}

.block-centered {
  margin-left: auto;
  margin-right: auto;
}

.responsive-centered {
  @media (max-width: $screen-xs-max) {
    margin-left: auto;
    margin-right: auto;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.page .white-space-normal {
  white-space: normal;
}

// Main Layout
// -------------------------
* + h1,
* + .h1 {
  margin-top: 10px;
}

* + h2,
* + .h2 {
  margin-top: 15px;
}

* + h3,
* + .h3 {
  margin-top: 20px;

  @media (min-width: $screen-sm-min) {
    margin-top: 27px;
  }

  @media (min-width: $screen-md-min) {
    margin-top: 34px;
  }
}

* + h4,
* + .h4 {
  margin-top: 25px;
}

* + h5,
* + .h5 {
  margin-top: 17px;
}

* + h6,
* + .h6 {
  margin-top: 15px;
}

h1 + *,
.h1 + * {
  margin-top: 20px;
}

h2 + *,
.h2 + * {
  margin-top: 15px;
}

h3 + *,
.h3 + * {
  margin-top: 30px;
}

h4 + *,
.h4 + * {
  margin-top: 25px;
}

h5 + *,
.h5 + * {
  margin-top: 14px;
}

h6 + *,
.h6 + * {
  margin-top: 14px;
}

* + p,
* + p {
  margin-top: 14px;
}

hr + * {
  margin-top: 18px;
  @media (min-width: $screen-lg-min) {
    margin-top: 26px;
  }
}

p + p {
  margin-top: 27px;
}

* + .big {
  margin-top: 6px;
}

* + .text-large {
  margin-top: 10px;
}

* + .text-bigger {
  margin-top: 28px;
}

* + .btn {
  margin-top: 30px;

  @media (min-width: $screen-lg-min) {
    margin-top: 44px;
  }
}

* + .link {
  margin-top: 18px;
}

* + .contact-info {
  margin-top: 16px;
}

* + .list-inline {
  margin-top: 32px;
}

* + .list-terms {
  margin-top: 42px;

  @media (min-width: $screen-lg-min) {
    margin-top: 62px;
  }
}

* + .list-marked,
* + .list-ordered {
  margin-top: 22px;
}

* + .link-wrap {
  margin-top: 8px;
}

* + .link-iconed {
  margin-top: 2px;
}

// Misc
// -------------------------
.contact-info {
  color: $secondary;
  vertical-align: baseline;

  a {
    display: inline-block;
  }

  dl {
    dt, dd {
      display: inline-block;
    }

    dt:after {
      content: ':';
      display: inline-block;
      text-align: center;
    }
  }

  .dl-inline {
    dt {
      padding-right: 0;
    }
  }
}

.grid-system {
  p {
    color: $secondary;
  }
  @media (max-width: $screen-md-max) {
    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.object-inline,
.object-inline-baseline {
  white-space: nowrap;
  > * + * {
    margin-top: 0;
    margin-left: 5px;
  }
}

.object-inline {
  vertical-align: middle;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.object-inline-baseline {
  vertical-align: baseline;

  > * {
    display: inline-block;
    vertical-align: baseline;
  }
}

.row-no-gutter {
  margin-left: 0;
  margin-right: 0;

  [class*='col'] {
    padding: 0;
  }
}

.text-width-1 {
  max-width: 400px;
  @media (min-width: $screen-md-min) {
    max-width: 310px;
  }
}

.min-width-1 {
  min-width: 100%;
  @media (min-width: $screen-xs-min) {
    min-width: 270px;
  }
}

.img-shadow {
  @include box-shadow(-3px 2px 4px 0px rgba($gray-base, 0.58));
  @media (min-width: $screen-sm-min) {
    @include box-shadow(-5px 4px 8px 0px rgba($gray-base, 0.58));
  }
}

.shadow-panel {
  @include box-shadow(0 0 8px 0 rgba($gray-base, .14));
  @media (min-width: $screen-sm-min) {
    padding: 40px 30px;
    border-top: 0.357em solid $brand-primary;
  }
  @media (min-width: $screen-md-min) {
    padding: 69px 66px 69px 54px;
  }
  @media (min-width: $screen-lg-min) {
    padding: 99px 66px 101px 84px;
  }
}

.image-wrap-default {
  border: 1px solid $porcelain;
  padding: 16px;
}

.video-wrap {
  position: relative;
  @include box-shadow(0px 10px 18px 0px rgba($gray-base, .35));
  .link-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

.post-boxed {
  text-align: left; }

.post-boxed-img-wrap a {
  display: block; }

.post-boxed-title a {
  color: $cello; }

.post-boxed-title a:hover {
  color: $gray-base; }

.post-boxed img {
  width: 100%; }

.post-boxed-title {
  font-size: 16px;
  line-height: 24px;
  a {
    display: inline;
  }
}

.post-boxed .list-inline {
  font-size: 11px; }

.post-boxed-caption {
  padding: 20px 20px 28px;
  border-left: 1px solid #e5e7e9;
  border-right: 1px solid #e5e7e9;
  border-bottom: 1px solid #e5e7e9; }

html .page {
  .border-radius-0 {
    border-radius: 0;
  }
}
